footer{
    background-image: url('../../EAE_img/cebollasfondo.jpg');
    background-position: center;
    grid-row: 3;
    grid-column: 1/5;
    margin: 0px;
    a{
        position: relative;
        left: 1120px;
        margin: 20px
        ;
    }
    h3{
        position:relative;
        margin: 5px;
    }
    p{
        width: 200px;
        height: 100px;
        margin :20px;
   
    }
  

}